@font-face {
  font-family: RedHatReg;
  src: url(/Files/RedHatDisplay-Regular.ttf);
}
@font-face {
  font-family: RedHatMed;
  src: url(/Files/RedHatDisplay-Medium.ttf);
}
@font-face {
  font-family: RedHatBold;
  src: url(/Files/RedHatDisplay-Bold.ttf);
}
@font-face {
  font-family: RedHatBlack;
  src: url(/Files/RedHatDisplay-Black.ttf);
}
body {
  margin: 0;
  padding: 0;
  background-color: hsl(225, 100%, 94%);
  background-image: url(Order-Summary-Card/Files/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: 2000px;
  background-position-y: -100px;
  text-align: center;
}
.card {
  height: 700px;
  width: 425px;
  position: relative;
  left: 50em;
  top: 10em;
  border-radius: 10px;
  background-color: white;
  box-shadow: 10px 10px 10px 10px grey;
}
.image-dancer {
  width: 425px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
h1 {
  position: relative;
  top: 10px;
  color: hsl(223, 47%, 23%);
  font-family: RedHatBlack;
}
p {
  color: hsl(224, 23%, 55%);
}
.p1 {
  position: relative;
  top: 7px;
  font-family: RedHatMed;
  line-height: 27px;
  font-size: 16.5px;
}
.plan-tab {
  position: relative;
  top: 20px;
  width: 350px;
  left: 35px;
  height: 100px;
  display: block;
  background-color: hsl(225, 100%, 98%);
  border-radius: 10px;
}
.image-music-note {
  position: relative;
  right: 130px;
  top: 25px;
}
h4 {
  position: relative;
  font-family: RedHatBlack;
  color: hsl(223, 47%, 23%);
  bottom: 50px;
  right: 35px;
}
.p2 {
  position: relative;
  bottom: 68px;
  right: 40px;
  font-family: RedHatMed;
  font-size: medium;
}
.a1 {
  font-family: RedHatBold;
  position: relative;
  bottom: 117px;
  left: 120px;
  font-size: 15px;
}
.translucent-button {
  font-family: RedHatBold;
  text-decoration: none;
  position: relative;
  top: 120px;
  color: hsl(224, 23%, 55%);
  border: none;
  cursor: pointer;
}
.blue-button {
  font-family: RedHatBold;
  text-decoration: none;
  color: white;
  position: relative;
  background-color: hsl(245, 75%, 52%);
  border-radius: 10px;
  padding: 15px 100px;
  top: 65px;
}
.blue-button:hover {
  box-shadow: 5px 10px 10px 10px grey;
  transition: 350ms;
}
.translucent-button:hover {
  color: hsl(245, 75%, 52%);
  transition: 300ms;
}
.a1:hover {
  color: grey;
  transition: 300ms;
}


