@font-face {
    font-family:RedHat;
    src: url(Files/RedHatDisplay-Regular.ttf);
}
@font-face {
    font-family:RedHatBold;
    src: url(Files/RedHatDisplay-Bold.ttf);
}
@font-face {
    font-family:RedHatBlack;
    src: url(Files/RedHatDisplay-Black.ttf);
}
@font-face {
    font-family:RedHatMed;
    src: url(Files/RedHatDisplay-Medium.ttf);
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(Files/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    background-size: 100%;
}
.card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0px 10px 20px hsl(221, 100%, 87%);
  background-color: white; 
  height:40em;
  width: 25em;
}
h1 {
    font-family: RedHatBlack;
    font-size: 25px;
    text-align: center;
    margin-top: 1.5em;
}
.main-paragraph {
    margin-top: 1em;
    text-align: center;
    font-family: RedHat;
    color:hsl(224, 23%, 55%);
    line-height: 1.5em;
}
.small-card {
    width: 20em;
    height: 5em;
    margin-top: 1.5em;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    background-color:hsl(225, 100%, 98%);
    border-radius: 10px;
}
.music-note {
    width: auto;
    height: auto;
    float: left;
    margin-top: 5%;
    margin-left: 7%;
}
h5 {
    font-family: RedHatBlack;
    margin-top: 1.3em;
    margin-left: 6.5em;
}
.price {
    font-family: RedHat;
    margin-top: .5em;
    margin-left: 6.5em;
    font-size: .85em;
    color:hsl(224, 23%, 55%);
}
.change {
    font-family: RedHatBold;
    font-size: .8em;
    float: right;
    margin-top: -2em;
    margin-right: 1.5em;
}
.proceed {
    font-family: RedHatBold;
    background-color: hsl(245, 75%, 52%);
    width: 24em;
    height: 3.4em;
    border-radius: 10px;;
    color: white;
    border: none;
    position: fixed;
    top:76.5%;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 0px 10px 20px hsl(221, 100%, 87%);
}
.cancel {
    color: hsl(224, 23%, 55%);
    font-family: RedHatBold;
    font-size: .8em;
    position: fixed;
    top:90%;
    left: 50%;
    transform: translate(-50%);
    cursor:pointer;
}
.cancel:hover {
    color:hsl(223, 47%, 23%);
}
.proceed:hover {
    cursor: pointer;
    background-color: hsl(234, 93%, 72%);
}
.change:hover {
    color: hsl(234, 93%, 72%);
    text-decoration: none;
}